
.
..
autostart
chromium
clipit
coc
configstore
coreapps
cubocore
darktable
dconf
dmenu-recent
dunst
epdfview
falkon
flameshot
gcloud
gconf
GIMP
.git
.gitignore
google-cloud-tools-java
gtk-2.0
gtk-3.0
hexchat
i3-scrot.conf
KeePass
Kvantum
libfm
manjaro-hello.json
mimeapps.list
.mono
morc_menu
nitrogen
pamac
pavucontrol.ini
pcmanfm
picom.conf
procps
pulse
qt5ct
QtProject.conf
ranger
user-dirs.dirs
user-dirs.locale
viewnior
volumeicon
xarchiver
xfce4
.gsd-keyboard.settings-ported
evolution/*
gnome-initial-setup-done
google-chrome/*
ibus/*
neofetch/*
htop/*
